.maritimo-logo {
    margin-right: 12px;
}

.navbar-menu .is-active {
    position: absolute;
}

.navbar-burger-left {
    margin-left: unset !important;
}

.navbar-burger-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}