
.country-name {
    margin-left: 4px;
}

.th-station-id {
    width: 60px;
}

.th-station-status {
    width: 100px;
}

.td-country {
    max-width: 200px;
    width: 200px;
}

.name-container {
    gap: 8px;
    display: flex;
    align-items: center;
}

.td-station {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.table-stations {
    table-layout: fixed;
}
