@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

$family-sans-serif: "Fira Sans", sans-serif;

@import "../node_modules/bulma/bulma.sass";
@import "./leaflet.scss";

html {
  overflow-y: auto;
}
body {
  overflow-y: auto;
}

.flag-img {
  height: 24px;
  aspect-ratio: 4 / 3;
  flex-shrink: 0;
  border: 1px solid #e9ecef;
}

.flag-img-tiny {
  height: 12px;
  aspect-ratio: 4 / 3;
  flex-shrink: 0;
  border: 1px solid #e9ecef;
}

.ais-object-subtitle-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-container {
  padding: 1.5rem 1.5rem;
}

.with-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.25rem);
}

.click-disabled {
  pointer-events: none;
}

.td-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}